{% extends "layout.html" %}
  {% block main %}
  <div class="content_container">
    <br><br>
    <h1>CONTACTS</h1>
    
    <br><br><br><br><br><br><br><br>
  
    <div class="row">
      <div class="column">
        <a href="https://github.com/G5TWA1"><img class="contacts" src="github_logo.png" style="width:100%"></a>
      </div>
      <div class="column">
        <a href="https://www.linkedin.com/in/andr%C3%A9-rodrigues-8816621b4/"><img class="contacts" src="linkedin_logo.png" style="width:100%"></a>
      </div>
      <div class="column">
        <a href="mailto: aarrodrigues15@gmail.com"><img class="contacts" src="email_logo.png" style="width:100%"></a>
      </div>
    </div>
  
  </div>
  {% endblock %}