{% extends "layout.html" %}
  {% block main %}
  <div class="content_container">
      <br><br>
      <h1>EXPERIENCE</h1>
      
      <br><br>

      <h2>Education</h2>
      <h3>Universidade Lusófona | 2020 - 2023</h3>
      <p class="school_level">Computer Engineering</p>
      <br><hr><br><br>
      <p ><strong>Escola Secundária D.Pedro V  | 2020 - 2023</strong></p>
      <p class="school_level">Level 4 Certificate in Management and Programming of Computer Systems</p>
      
      <br><br><br>
      <h2>Work Experience</h2>
      <h3>Casino Estoril | 04/2019 – 06/2019</h3>
      <p class="school_level">Estagiário da Direção de Planeamento, Controle e Sistemas deInformação </p>
      <br><br><br>
    
      <br><br><br>
      
      <h2>Skills</h2>
      
    <p>C/C++</p>                
    <div class="container">
      <div class="skills c"></div>
    </div>
    <p>C#</p>   
    <div class="container">
      <div class="skills cs"></div>
    </div>                   
    <p>PHP</p>  
    <div class="container">
      <div class="skills php"></div>
    </div>                 
    <p>SQL</p> 
    <div class="container">
      <div class="skills sql"></div>
    </div>                    
    <p>Firebase</p>    
    <div class="container">
      <div class="skills firebase"></div>
    </div>         
    <p>HTML</p> 
    <div class="container">
      <div class="skills html"></div>
    </div>                
    <p>CSS</p> 
    <div class="container">
      <div class="skills css"></div>
    </div>                    
    <p>JS</p> 
    <div class="container">
      <div class="skills js"></div>
    </div>                       
    <p>Java</p>   
    <div class="container">
      <div class="skills java"></div>
    </div>                 
    <p>Kotlin</p>
    <div class="container">
      <div class="skills kotlin"></div>
    </div>                   
    <p>Unity</p>
    <div class="container">
      <div class="skills unity"></div>
    </div>

 <br><br><br>

      <br><br><br><br><br><br><br><br>
      </div>
    {% endblock %}