{% extends "layout.html" %}
  {% block main %}
    <div  class="content_container">
      <br><br><br><br>
      <img class="profile" src="{{ url_for('static', filename="profile2.jpg") }}" alt="Avatar">
      <br><br><br>
      <h1>Hey, I'm André</h1>
      <p>I'm a computing engineering student, I started programming when I was 17 and since then my goal as been to learn as much as I can to have the tools to create whatever I want.<br><br>Throughout my programming experience, I have worked with several different tools and different programming languages and in each new project I always try to use tools that I never used so that I could be used to adapt to different environments. In addition to that, I also have been playing futsal since I was 11 and I've been a futsal coach for the last 3 years and all this experience has made me better at handling pressure and at working with other people.</p>
    </div>
  {% endblock %}