{% extends "layout.html" %}
  {% block main %}
  <div class="content_container">
      <br><br>
      <h1>PROJECTS</h1>
      
      <br><br>

      <h2>Nonic</h2>
      <p><br>NONIC is an Android and iOS app that helps you connect to people around you using the magic of questioning.<br><br><strong>Question & answer:</strong> Ask questions to people you love or are interested in. You can choose to ask publicly or anonymously.<br><br>Have fun We filter the questions people ask you so you only have to worry about answering the most relevant questions.<br><br>Due to release this summer for Android and iOS devices.</p>

      <img class="nonic" src="{{ url_for('static', filename="nonic.png") }}" alt="Nonic">
      <br><br><br>
      <h2>Contracapa</h2>
      <p"><br>Contracapa is a web-based platform that provides a digital library with over 100 books.<br><br>Our propose is to offer books free of cost to those who are unable to get them and to encourage reading, the publications available are in public domain so there’s no copyright Issues, because of that Contracapa is and always will be a free service.</p>
      <img class="contracapa" src="{{ url_for('static', filename="contracapa.jpg") }}" alt="Contracapa">
      <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    {% endblock %}